table,
th,
td {
  border: 0.5px solid white;
}

td::first-line {
  text-align: center;
}

tr {
  background-color: lightgray;
}

tr:nth-child(2n) {
  background-color: white;
}

th {
  background-color: black;
  color: white;
}

button.big {
  border: 1px solid;
  border-color: gray;
  font-size: 24px;
  background-color: rgb(236 233 233);
  padding: 6px 16px;
  border-radius: 0;
}

button:hover {
  color: white;
  background-color: black;
  border: 1px solid;
  border-color: rgb(236 233 233);
  cursor: pointer;
}
